.b-container{
    background-color: #333;
	border: 3px solid #555;
	border-radius: 8px;
	color: #fff;
	padding: 20px;
    position: relative;
    margin-bottom: 12rem;
	width: 24rem;
	height: 8rem;
}
.b-container h1{
	padding-bottom: 10px;
}
.balance-added{
    background-color: #45a049;
	border-radius: 8px;
	font-size: 24px;
	font-weight: 500;
	margin-bottom: 12rem;
	padding: 20px;
	width: 24rem;
	height: 8rem;
}
.balance-container button, .balance-added button{
    width: 6rem;
    height: 2rem
}