:focus, :active{
outline: none;
}

.button-grid {
    padding: 0em 4em 0em 4em;
}

.button-grid button {
    background-color: #333;
    color: white;
    width: 5rem;
    height: 5rem;
    border-radius: 7.5%;
    margin: 1px;
    font-size: 50px;
}

.button-grid button:disabled {
    border-color: buttonborder;
}

.container {
    display: flex;
  }
  
.sidebar {
    padding: 0.5rem 3rem 0rem 3rem;
    background-color: #333;
    border: 2px solid #555;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 24.5rem;
}

.sidebutton, .sidebutton-active{
    width: 5rem;
    height: 2rem;
    margin-left: 5px;
}

.sidebutton-active {
    font-weight: 550;
}

.sidebutton:first-child, .sidebutton-active:first-child{
    margin-left: 0px;
}

.sidebar input{
    width: 5em;
    height: 1.95em;
    text-align: center;
}

.row {
    display: flex;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.multiplier{
    font-size: 48px;
}
:disabled{
    background-color: white;
    color: black;
}
.bot{
    display: flex;
    flex-direction: column;
}

.green{
    color: greenyellow;
}

.red{
    color: red;
}

.startbutton, .cashoutButton{
    color: white;
    background-color: rgb(103, 145, 40);
    margin-top: 1rem;
    border: none;
    width: 7rem;
    height: 2rem;
    margin-left: 5px;
}

.startbutton:hover, .cashoutButton:hover{
    background-color: rgb(0, 130, 0);
    cursor: pointer;
}

.startbutton:active, .cashoutButton:active{
    background-color: darkgreen;
    transition: color 0.4s ease;
}

.win{
    text-decoration: bold;
    color:rgb(103, 145, 40);
    transition: color 0.3s ease;
}

.win:hover {
    color: rgb(153, 185, 90);
}

.lose{
    text-decoration: bold;
    color: red;
}

.rowButtons{
    margin-bottom: 0.5rem;
    display: flex;
    flex-direction: row;
}

.errorMessage{
    color: red;
    font-size: 0.8em;
    font-weight: 500;
}