.button-grid button {
    background-color: #333;
    color: white;
    width: 5rem;
    height: 5rem;
    border-radius: 7.5%;
    margin: 1px;
    font-size: 50px;
}

.button-grid button:disabled {
    border-color: buttonborder;
}

.container {
    display: flex;
  }
  
.sidebar {
    margin-right: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar button {
    width: 5rem;
    height: 2rem;
    margin-left: calc(3.5rem + 1px);
}

.sidebar input{
    width: 4.5rem;
    height: 1.75rem;
    text-align: center;
}

.row {
    display: flex;
  }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.multiplier{
    font-size: 48px;
}
:disabled{
    background-color: white;
    color: black;
}
.bot{
    display: flex;
    flex-direction: column;
}

.green{
    color: greenyellow;
}

.red{
    color: red;
}

.cashout button{
    width: 5rem;
    height: 2rem;
}