.flyout-menu {
	background-color: #222;
	height: 100%;
	left: -20rem;
	overflow-y: auto;
	position: fixed;
	top: 0;
	transition: left 0.75s ease;
	width: 20rem;
	z-index: 1000;
}
.flyout-menu.open {
	left: 0;
}
.flyout-menu li {
	display: block;
	padding: 1rem 0rem;
	width: calc(100% - 3px);
	border-top: 1px solid #333;
}
.flyout-menu li:last-child{
	border-bottom: 1px solid #333;
}
.flyout-menu h1 {
	cursor: pointer;
}
.flyout-menu a {
	color: rgb(210, 210, 210);
	display: block;
	margin-left: 2rem;
	text-align: left;
	text-decoration: none;
	transition: color 0.5s ease;
}
.flyout-menu a:hover {
	color: white;
	text-decoration: none;
	transition: color 0.5s ease;
}
.overlay {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
.darker {
	background: linear-gradient(to right, rgba(57, 95, 201, 0.2) 0%, #222 55%);
	border-left: 3px solid rgba(57, 95, 201, 1);
	font-weight: bold;
}
.flyout-menu .darker a {
	color: white!important;
	margin-left: calc(2rem - 3px);
}
