.leaderboard-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.leaderboard-bot {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6rem;
}

.leaderboard-bot table {
    background-color: #333;
	border: 3px solid #555;
	border-radius: 8px;
    border-collapse: collapse;
	color: #fff;
}

.leaderboard-bot th {
    font-size: 26px;
    padding: 15px 40px;
}

.leaderboard-bot td {
    font-size: 18px;
    padding: 10px 15px;
}

.leaderboard-top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 7rem;
}

.leaderboard-top img{
    width: 250px;
}

#place3 {
    margin-right: -2rem;
}

#place1 h2 {
    margin-top: -1rem;
}

#place2, #place3 {
    margin-top: 2rem;
}

#place1, #place2, #place3 {
    width: 400px;
}

.even {
    background-color: rgb(73, 72, 72);
}

@media (max-width: 1366px) {
    .leaderboard-top, .leaderboard-bot {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .leaderboard-top {
        gap: 2rem;
    }

    #place1, #place2, #place3 {
        margin: 0;
    }

    .leaderboard-bot {
        gap: 10rem;
    }

      #place1 {
        order: 1; 
      }
    
      #place2 {
        order: 2; 
      }
    
      #place3 {
        order: 3; 
      }
  }