.error-message {
	color: red;
	font-size: 0.8em;
	font-weight: 500;
}
.login-container {
	position: relative;
}
.login-form {
	background-color: #333;
	border-radius: 8px;
	color: #fff;
	padding: 20px;
}
.login-form button {
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
}
.login-form button:hover {
	background-color: #45a049;
}
.login-form input[type="password"] {
	background-color: white;
	color: black;
	width: calc(100% - 20px);
}
.register-link:hover {
	color: rgba(255, 255, 255, 0.833);
	cursor: pointer;
	text-decoration: underline;
}
.registration-form {
	left: 0;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
}
.registration-form.hide {
	opacity: 0;
	pointer-events: none;
}
.registration-open .registration-form {
	opacity: 1;
	pointer-events: auto;
}
