.landing-page {
	align-items: center;
	background-color: #111;
	color: white;
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 7rem;
	min-height: 80vh;
	min-width: 1024px;
}
